<div style="background-image: url(../../../assets/images/wall2.jpg); margin: 0px;">
    <div class="container">
        <div class="row" style="align-content: center;">
       
    <!-- First Email Template -->
    <mat-card class="example-card" style="background-color: #f7f7f7;" >
                           
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content>
         To : <br><hr>
         From : <hr>
         <div id="htmlcode">
             <div style="max-width: 400px">
             <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px; line-height: 1.5;">
                <tbody>
                    <tr>
                     <td width="35%">
                       <img src="https://img.mysignature.io/p/6/5/9/65978094-291c-58bb-953f-3bac04d6fd46.png?time=1592495530" style="max-width: 100%;border:1px solid #FFFFFF" />
                   </td>
                        <td style="vertical-align: top;">
                                <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 700;">
                                    Matthew Murphy 
                                    <!-- Matthew Murphy -->
                                    <!-- {{user.name | uppercase}} -->
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                    Founder 
                                    <!-- Founder -->
                                     <!-- {{user.position}} -->
                                </span>
                                <span> 
                                    <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"> | </span>
                                    <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                     CMS Hosting LLC
                                     <!-- cmshosting LLC -->
                                     <!-- {{user.company}} -->
                                 </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="margin-top: 5px; font-size: 0px;"><tr><td><span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Website: </span>
                                    <a href="http://johndoe.com" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                     cmshosting.xyz
                                     <!-- www.cmshosting.xyz -->
                                     <!-- {{user.website}} -->
                                 </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email: </span>
                                    <a href="mailto:mail@jonhdoe.com" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                     mmurphy@cmshosting.xyz
                                     <!-- mmurphy@cmshosting.xyz-->
                                     <!-- {{user.email}} -->
                                 </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Phone: </span>
                                    <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                     833-CMS
                                     <!-- 833-CMS -->
                                     <!-- {{user.phone}} -->
                                 </span>
                                </td>
                            </tr>
                            <tr>
                             <td>
                                 <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Mobile: </span>
                                 <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                     209-898-6435
                                     <!-- 209-898-6435 -->
                                     <!-- {{user.mobile}} -->
                                 </span>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">address: </span>
                                 <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                     1334 S Center , CA 95206
                                     <!--1334 S Center St Ste <br> B      stockton, CA 95206-->
                                     <!-- {{user.address}} -->
                                 </span>
                             </td>
                         </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px; margin-top: 10px;">
            <tbody>
                <tr>
                    <td>
                        <span style="font-size: 10px; color: rgb(136, 136, 136); border-top: 1px solid rgb(238, 238, 238); padding-top: 5px;">
                           
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
        <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
        <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
        <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
     </div>
        </div>
   
       
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get" name="get" (click)= "getFunction()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get" (click)="copyCode()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
   
     <!-- Second Email Template -->
     <mat-card class="example-card" style="background-color: #f7f7f7;"  >
         
         <mat-card-header>
           <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
         
       </mat-card-header>
       
       <mat-card-content>
           To : <br><hr>
           From : <hr>
           <div id="htmlcode1">
               <div style="max-width: 400px">
               <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px; line-height: 1.5;">
                  <tbody>
                      <tr>
                       
                          <td style="vertical-align: top;">
                                  <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px;">
                                      <tbody>
                                          <tr>
                                              <td>
   
                                                  <span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 700;">
                                      Matthew Murphy 
                                      <!-- Matthew Murphy -->
                                      <!-- {{user.name | uppercase}} -->
                                  </span>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                      Founder 
                                      <!-- Founder -->
                                       <!-- {{user.position}} -->
                                  </span>
                                  <span> 
                                      <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"> | </span>
                                      <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                       CMS Hosting LLC
                                       <!-- cmshosting LLC -->
                                       <!-- {{user.company}} -->
                                   </span>
                                  </span>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="margin-top: 5px; font-size: 0px;"><tr><td><span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Website: </span>
                                      <a href="http://johndoe.com" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                       cmshosting.xyz
                                       <!-- www.cmshosting.xyz -->
                                       <!-- {{user.website}} -->
                                   </a>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email: </span>
                                      <a href="mailto:mail@jonhdoe.com" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                       mmurphy@cmshosting.xyz
                                       <!-- mmurphy@cmshosting.xyz-->
                                       <!-- {{user.email}} -->
                                   </a>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Phone: </span>
                                      <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                       833-CMS
                                       <!-- 833-CMS -->
                                       <!-- {{user.phone}} -->
                                   </span>
                                  </td>
                              </tr>
                              <tr>
                               <td>
                                   <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Mobile: </span>
                                   
                                   <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                       209-898-6435
                                       <!-- 209-898-6435 -->
                                       <!-- {{user.mobile}} -->
                                   </span>
                               </td>
                           </tr>
                           <tr> 
                               <td>
                                   <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">address: </span>
                                   <span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                       1334 S Center , CA 95206
                                       <!--1334 S Center St Ste <br> B      stockton, CA 95206-->
                                       <!-- {{user.address}} -->
                                   </span>
                               </td>
                           </tr>
                          </table>
                      </td>
                  </tr>
                  
              </tbody>
          </table>
          </td>
          <td width="35%">
             <img src="https://img.mysignature.io/p/6/5/9/65978094-291c-58bb-953f-3bac04d6fd46.png?time=1592495530" style="max-width: 100%;border:1px solid #FFFFFF" />
         </td>
          </tr>
          
          </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" border="0" role="presentation" style="font-size: 0px; margin-top: 10px;">
              <tbody>
                  <tr>
                      <td>
                          <span style="font-size: 10px; color: rgb(136, 136, 136); border-top: 1px solid rgb(238, 238, 238); padding-top: 5px;">
                             
                          </span>
                      </td>
                  </tr>
              </tbody>
          </table>
          <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>
          <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
          <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
          <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
       </div>
          </div>
   
         
       </mat-card-content>
       <mat-card-actions>
           <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
               <mat-icon>favorite</mat-icon>
             </button>
             <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
               <mat-icon>share</mat-icon>
             </button>
             <div class="example-button-row">
           
               <button mat-stroked-button color="primary" id="get1" name="get1" (click)= "getFunction1()">View Source Code</button>
               <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get1" (click)="copyCode1()">Copy Code</button>
               
               
             </div>
          
       </mat-card-actions>
       </mat-card>
     
   <mat-card class="example-card" style="background-color: #f7f7f7;" >
                           
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content> 
         To : <br><hr>
         From : <hr>
         <div id="htmlcode3">
          
                <div style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
             <table width="400" border="0" cellspacing="0" cellpadding="0" style="float:left;">
               <tr>
       
         </tr>
                <tr>
                 <td style="border-right: 4px solid  lightblue; ">
          
                       <p id="name" style="color: #009472; font-size:150%; font-weight:bolder; line-height: 1.0; font-family: Verdana; ">   Matthew Murphy </p>
                       <p>Founder</p>
                       <p>cmshosting LLC</p>
                       <a href="facebookLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" height="30px" />
                                </a>
                                <a [href]="instagramLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" height="30px"/>
                                </a>
                                <a [href]="twitterLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/fluent/48/000000/twitter.png" height="30px"/>
                                </a>
                                <a [href]="linkedinLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" height="30px"/>
                                </a>
                       </td>
                   <td width="220" rowspan="2">
                    
                    <div style="font-family: Verdana; font-size: 15px;">
                     <p id="email"><span style="font-weight: bold; font-size: larger;color: blueviolet; ">E:</span> mmurphy@cmshosting.xyz</p>
                     <p id="website"><span style="font-weight: bold; font-size: larger;color: blueviolet; ">W:</span>  www.cmshosting.xyz </p>
                     <p id="phone"><span style="font-weight: bold; font-size: larger;color: blueviolet; ">P:</span> 833-CMS<p>
                     <p id="mobile"><span style="font-weight: bold; font-size: larger;color: blueviolet; ">M :</span> 209-898-6435</p>
                     </div>
               
               
                   </td>
       
             </table>
            </div>
            
               
                         
     <td style="height: 50px; width: 300px;" >
       <img [src]="bannerUrl" style="max-width: 100%;border:1px solid #FFFFFF" />
   </td>
        </div>
   <br>
   <br><br>
       
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get3" name="get3" (click)= "getFunction3()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get3" (click)="copyCode3()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
   
     <mat-card class="example-card" style="background-color: #f7f7f7;" >
       
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content> 
         To : <br><hr>
         From : <hr>
         
           <div id="htmlcode4">
               <div style="text-align:  center; width: 500px;">
                    <a href="https://tnp1606.github.io/" target="_blank" >
                              <img [src]="imageUrl"  width="80" ></a>
                           </div>
               
                    <div style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
                 <table width="500" border="0" cellspacing="0" cellpadding="0" style="float:left;">
                    <tr>
                       <td width="300px" rowspan="2" style="border-right: 0px solid  lightblue;">
                        <p id="name" style="color: #009472; font-size:150%; font-weight:bolder; line-height: 1.5; font-family: Verdana; text-align: center; "> Matthew Murphy </p>
                        <div style="font-family: Verdana; font-size: 15px; text-align: center;">
                         <p id="position" >Founder </p>
                         <p id="company"> cmshosting LLC </p>
                         <p id="phone"> Phone: 833-CMS<p>
                         <p id="mobile">Mobile: 209-898-6435</p>
                         <p id="website">Website: www.cmshosting.xyz </p>
                         <p id="email">Email: mmurphy@cmshosting.xyz</p>
           
                          <a href="facebookLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                       <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" height="30px" />
                                    </a>
                                    <a [href]="instagramLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                       <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" height="30px"/>
                                    </a>
                                    <a [href]="twitterLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                       <img src="https://img.icons8.com/fluent/48/000000/twitter.png" height="30px"/>
                                    </a>
                                    <a [href]="linkedinLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                       <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" height="30px"/>
                                    </a>
                         </div>
                       </td>
           
                 </table>
                 </div>
                   
               
                    
     <td style="height: 50px; width: 300px;" >
       <img [src]="bannerUrl" style="max-width: 100%;border:1px solid #FFFFFF" />
   </td>
        </div>
   
     
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get4" name="get" (click)= "getFunction4()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get4" (click)="copyCode4()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
     
      <!-- First Email Template -->
   
   <mat-card class="example-card" style="background-color: #f7f7f7;" >
       
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content> 
         To : <br><hr>
         From : <hr>
         <div id="htmlcode5">
           
           <div style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
             <table width="400" border="0" cellspacing="0" cellpadding="0" style="float:left;">
               <tr>
       
         </tr>
                <tr>
                 
                 <td style="text-align:  center; border-right: 0px solid  lightblue;" >
                        <a href="https://tnp1606.github.io/" target="_blank" >
                       <img [src]="imageUrl"  width="80" style="margin-left:auto;"></a>
                       
                       </td>
                       <td>
                          <a href="facebookLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; ">
                                   <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" height="30px" />
                                </a> <br>
                                <a [href]="instagramLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" height="30px"/>
                                </a> <br>
                                <a [href]="twitterLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/fluent/48/000000/twitter.png" height="30px"/>
                                </a><br>
                                <a [href]="linkedinLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" height="30px"/>
                                </a><br>
                       </td>
                       
                   <td width="250" rowspan="2">
                    <p id="name" style="color: #009472; font-size:150%; font-weight:bolder; line-height: 0.5; font-family: Verdana; ">  Matthew Murphy </p>
                       <p>Founder | cmshosting LLC</p>
                       
                    <div style="font-family: Verdana; font-size: 15px;">
                    
                     <p id="email">Email:  mmurphy@cmshosting.xyz</p>
                     <p id="website">Website:  www.cmshosting.xyz </p>
                     <p id="phone"> Phone: 833-CMS<p>
                     <p id="mobile">Mobile: 209-898-6435</p>
                     </div>
               
               
                   </td>
       
             </table>
             </div>
     <td style="height: 50px; width: 300px;" >
         <img [src]="bannerUrl" style="max-width: 100%;border:1px solid #FFFFFF" />
     </td>
        </div>
        <br><br><br><br>
   
       
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get5" name="get5" (click)= "getFunction5()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get5" (click)="copyCode5()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
   
     <!-- First Email Template -->
   
   <mat-card class="example-card" style="background-color: #f7f7f7;" >
       
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content> 
         To : <br><hr>
         From : <hr>
         <div id="htmlcode6">
          
                <div style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
             <table width="400" border="0" cellspacing="0" cellpadding="0" style="float:left;">
               <tr>
       
         </tr>
                <tr>
                 <div>
                 <td style="text-align:  center;  margin: 5px;" >
                        <a href="https://tnp1606.github.io/" target="_blank" >
                       <img [src]="imageUrl"  width="100" style="margin-left:auto;"></a>
                       
                       </td>
                       </div>
                   <td width="300" rowspan="2" style="border-left: 2px solid  lightblue;">
                    <p id="name" style="color: #009472; font-size:150%; font-weight:bolder; line-height: 0.5; font-family: Verdana; margin-right: 5px;">  {{name }}</p>
                       <p>Founder | cmshosting LLC</p>
                       
                    <div style="font-family: Verdana; font-size: 15px;">
                    
                     <p id="email">Email:mmurphy@cmshosting.xyz</p>
                     <p id="website">Website: www.cmshosting.xyz </p>
                     <p id="phone"> Phone: 833-CMS<p>
                     <p id="mobile">Mobile: 209-898-6435</p>
                     </div>
               <p>Follow us:</p>
               <a href="facebookLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" height="30px" />
                                </a>
                                <a [href]="instagramLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" height="30px"/>
                                </a>
                                <a [href]="twitterLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/fluent/48/000000/twitter.png" height="30px"/>
                                </a>
                                <a [href]="linkedinLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                   <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" height="30px"/>
                                </a>
                   </td>
       
             </table>
           </div>
     <td style="height: 50px; width: 300px;" >
         <img [src]="bannerUrl" style="max-width: 100%;border:1px solid #FFFFFF" />
     </td>
        </div>
        <br><br><br><br> <br><br>
   
       
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get6" name="get6" (click)= "getFunction6()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get6" (click)="copyCode6()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
       <!-- First Email Template -->
   
   <mat-card class="example-card" style="background-color: #f7f7f7;" >
       
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content> 
         To : <br><hr>
         From : <hr>
         <div id="htmlcode7">
          
           <div style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
               <table width="380" border="0" cellspacing="0" cellpadding="0" style="float:left;">
                 <tr>
         
           </tr>
                  <tr>
                   <td style="text-align:  center;" >
             <a href="https://tnp1606.github.io/" target="_blank" >
                         <img [src]="imageUrl"  width="100" style="margin-left:auto; margin-right: 5px;"></a>
                         <p id="name" style="color: #009472; font-size:150%; font-weight:bolder; line-height: 1.5; font-family: Verdana; margin-right: 5px;">  Matthew Murphy </p>
                         <p>Founder</p>
                         <p>cmshosting LLC</p>
                         </td>
                     <td width="200" rowspan="2" style="border-right: 2px solid  lightblue;">
                      
                      <div style="font-family: Verdana; font-size: 15px;">
                       
                       <p id="email"> mmurphy@cmshosting.xyz</p>
                       <p id="website"> www.cmshosting.xyz </p>
                       <p id="phone">  833-CMS<p>
                       <p id="mobile"> 209-898-6435 </p>
                       
                       </div>
                     </td>
         
               </table>
           </div>
           <a href="facebookLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
               <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" height="30px" />
            </a><br>
            <a [href]="instagramLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
               <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" height="30px"/>
            </a><br>
            <a [href]="twitterLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
               <img src="https://img.icons8.com/fluent/48/000000/twitter.png" height="30px"/>
            </a><br>
            <a [href]="linkedinLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
               <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" height="30px"/>
            </a>
     <td style="height: 50px; width: 300px;" >
         <img [src]="bannerUrl" style="max-width: 100%;border:1px solid #FFFFFF" />
     </td>
        </div>
        <br><br><br><br>
   
       
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get7" name="get7" (click)= "getFunction7()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get7" (click)="copyCode7()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
       <!-- First Email Template -->
   
   <mat-card class="example-card" style="background-color: #f7f7f7;" >
       
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content> 
         To : <br><hr>
         From : <hr>
         <div id="htmlcode8">
          
           <div style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
               <table width="400" border="0" cellspacing="0" cellpadding="0" style="float:left;">
                 <tr>
         
           </tr>
                  <tr>
                   <td style="text-align:  center; border-right: 2px solid  lightblue;" >
             <a href="https://tnp1606.github.io/" target="_blank" >
                         <img [src]="imageUrl"  width="80" style="margin-left:auto;"></a>
                         <p id="name" style="color: #009472; font-size:150%; font-weight:bolder; line-height: 1.5; font-family: Verdana; "> Matthew Murphy </p>
                         <p>Founder</p>
                         <p>cmshosting LLC</p>
                         </td>
                     <td width="200" rowspan="2">
                      
                      <div style="font-family: Verdana; font-size: 15px;">
                       
                       <p id="email"> mmurphy@cmshosting.xyz</p>
                       <p id="website">www.cmshosting.xyz </p>
                       <p id="phone">833-CMS <p>
                       <p id="mobile"> 209-898-6435 </p>
                       <p id="address">{{address}} </p>
                       </div>
                 <p>Follow us:</p>
                 <a href="facebookLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                     <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" height="30px" />
                                  </a>
                                  <a [href]="instagramLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                     <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" height="30px"/>
                                  </a>
                                  <a [href]="twitterLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                     <img src="https://img.icons8.com/fluent/48/000000/twitter.png" height="30px"/>
                                  </a>
                                  <a [href]="linkedinLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
                                     <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" height="30px"/>
                                  </a>
                     </td>
         
               </table>
               
           </div>
           
     <td style="height: 50px; width: 300px;" >
         <img [src]="bannerUrl" style="max-width: 100%;border:1px solid #FFFFFF" />
     </td>
        </div>
   
        <br><br><br><br><br><br>
       
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get8" name="get" (click)= "getFunction8()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get8" (click)="copyCode8()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
   
        <!-- First Email Template -->
   
   <mat-card class="example-card" style="background-color: #f7f7f7;" >
       
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content> 
         To : <br><hr>
         From : <hr>
         <div id="htmlcode9"> 
               <a href="https://tnp1606.github.io/" target="_blank" >
                         <img [src]="imageUrl" width="80" style="margin-left: 5px"></a>
        <br><br>
               <div style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
            <table width="180" border="0" cellspacing="0" cellpadding="0" style="float:left;">
               <tr>
                  <td width="300px" rowspan="2" style="border-right: 2px solid  lightblue;">
                   <p id="name" style="color: #009472; font-size:150%; font-weight:bolder; line-height: 1.5; font-family: Verdana; "> Matthew Murphy </p>
                   <div style="font-family: Verdana; font-size: 15px;">
                    <p id="position" >Founder</p>
                    <p id="company"> cmshosting LLC </p>
                    <p id="email">{{email }}</p>
                    <p id="website"> www.cmshosting.xyz </p>
                    <p id="phone"> 833-CMS<p>
                    <p id="mobile"> 209-898-6435</p>
                    </div>
                  </td>
      
            </table>
         
           </div>
           <a href="facebookLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
               <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" height="30px" />
            </a><br>
            <a [href]="instagramLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
               <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" height="30px"/>
            </a><br>
            <a [href]="twitterLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
               <img src="https://img.icons8.com/fluent/48/000000/twitter.png" height="30px"/>
            </a><br>
            <a [href]="linkedinLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">
               <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" height="30px"/>
            </a>
           
     <td style="height: 50px; width: 300px;" >
         <img [src]="bannerUrl" style="max-width: 100%;border:1px solid #FFFFFF" />
     </td>
        </div>
   
   
       
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get9" name="get9" (click)= "getFunction9()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get9" (click)="copyCode9()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
   
        <!-- First Email Template -->
   
   <mat-card class="example-card" style="background-color: #f7f7f7;" >
       
       <mat-card-header>
         <mat-card-title style="font-size: 21px; font-family: Arial, Helvetica, sans-serif; color: rgb(64, 158, 255); font-weight: 600;">Email Template</mat-card-title>
       
     </mat-card-header>
     
     <mat-card-content> 
         To : <br><hr>
         From : <hr>
         <div id="htmlcode10">
          
           
            <br><br>
                  <div style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
               <table width="350" border="0" cellspacing="0" cellpadding="0" style="float:left;">
                 <tr>
         
           </tr>
                  <tr>
                   <td  >
             <a href="https://tnp1606.github.io/" target="_blank" >
                         <img [src]="imageUrl" width="100" style="margin-left:auto;"></a>
                         </td>
                     <td width="200" rowspan="2" style="border-right: 2px solid  lightblue;">
                      <p id="name" style="color: #009472; font-size:150%; font-weight:bolder; line-height: 1.5; font-family: Verdana; ">  Matthew Murphy </p>
                      <div style="font-family: Verdana; font-size: 15px;">
                       <p id="position" > Founder</p>
                       <p id="company">cmshosting LLC </p>
                       <p id="email"> mmurphy@cmshosting.xyz</p>
                       <p id="website">www.cmshosting.xyz </p>
                       <p id="phone">  833-CMS<p>
                       <p id="mobile"> 209-898-6435</p>
                       <p id="address"> {{address}}</p>
                       </div>
                     </td>
         
               </table>
               
           </div>
                          
                                    <a href="facebookLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin-left: 5px; ">
                                     <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" height="30px" />
                                  </a><br>
                                  <a [href]="instagramLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;  margin-left: 5px;">
                                     <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" height="30px"/>
                                  </a><br>
                                  <a [href]="twitterLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;  margin-left: 5px;">
                                     <img src="https://img.icons8.com/fluent/48/000000/twitter.png" height="30px"/>
                                  </a><br>
                                  <a [href]="linkedinLink" style="text-decoration: none; color: inherit; font-size: 12px; font-family: Arial, Helvetica, sans-serif;  margin-left: 5px;">
                                     <img src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png" height="30px"/>
                                  </a>
          
               
           
           
     <td style="height: 50px; width: 300px;" >
         <img [src]="bannerUrl" style="max-width: 100%;border:1px solid #FFFFFF" />
     </td>
        </div>
   
   
       
     </mat-card-content>
     <mat-card-actions>
         <button color="accent" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button color="primary" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button>
           <div class="example-button-row">
         
             <button mat-stroked-button color="primary" id="get10" name="get10" (click)= "getFunction10()">View Source Code</button>
             <button mat-stroked-button color="accent" [cdkCopyToClipboard]="value" id="get10" (click)="copyCode10()">Copy Code</button>
             
             
           </div>
        
     </mat-card-actions>
     </mat-card>
   
   </div>
   </div>
   </div>