.example-card {
    margin-left: 2%;
    margin-top: 2%;
    max-width: 450px;
  }
  
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-card1 {
    margin-left: 1%;
    margin-top: 2%;
    max-width: 99%;
  }
  body {
    background-color: #F5F5F5;
}
.example-card2 {
  margin-left: 2%;
  margin-top: 2%;
  max-width: 99%;
}

.flex-main {
    -webkit-flex: 1 1 728px;
    -ms-flex: 1 1 728px;
    flex: 1 1 728px;
    max-width: 728px;
    max-height: 100%;
    box-sizing: border-box;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}


/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
.viewport{
  height: 900px;
  width: 90%;
  background: #ffffff;
  margin: 2em;
  box-shadow:#ffffff;
}