/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* Importing Bootstrap SCSS file. */
.login{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
}
@media screen and (max-width: 900px) {
    .login{
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 5%;
        margin-right: 5%;
    }
  }

  .register{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
}
@media screen and (max-width: 900px) {
    .register{
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 5%;
        margin-right: 5%;
    }
  }